* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    min-height: 100vh;
    /* instead of height: 100vh */
    width: 100%;
}

main {
    width: 100%;
    /* ensure main takes full width */
    flex-grow: 1;
    /* allow it to grow */
    display: flex;
    /* make it a flex container */
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 3px;
    text-wrap: wrap;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 0px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
    /* Adjust this to increase the gap between the file input and button */
    row-gap: 8px;
    justify-content: center;
    /* Center the elements within the group */
}

/* Styling the file input */
input[type="file"] {
    display: none;
    /* Hide the default file input */
}

input[type="file"]+label {
    display: inline-block;
    background-color: #3f5fff;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.2;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="file"]+label:hover {
    background-color: #354fd3;
    transform: scale(1.02);
}


/* Styling for the button */
button {
    font-family: 'Montserrat', sans-serif;
    background-color: #222222;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    line-height: 1.2;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Button Hover and Focus States */
button:hover {
    background-color: #363636;
    transform: scale(1.02);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.5);
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    margin: 10px 0;
}

.custom-checkbox input {
    display: none;
    /* Hide the default checkbox */
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    background-color: white;
    position: relative;
    transition: all 0.3s ease;
}

.custom-checkbox input:checked+.checkmark {
    border-color: #3f5fff;
    background-color: #3f5fff;
}

.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 0px;
    width: 4px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.custom-checkbox input:checked+.checkmark::after {
    opacity: 1;
}


/* Styling the pie chart container */
.chart-container {
    flex: 0 0 45%;
    flex-grow: 0.8;
    /* allow chart container to grow */
    position: relative;
    margin: 0 auto;
    /* Center alignment options */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
}

/* Update canvas to make the pie chart more responsive */
canvas#myPieChart {
    width: 100%;
    /* Make the pie chart take up the full width of its container */
    height: 80%;
    /* Maintain aspect ratio */
}

/* Add some padding and center text */
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #555;
    margin-top: 20px;
    font-size: 1.5rem;
}

#pie-chart-container {
    height: 60%;
}

#hours-chart-container {
    height: 60%
}

#days-chart-container {
    height: 40%
}

#stats-container {
    height: 40%;
}


#statsOutput {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#data-box {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
    gap: 20px;
    row-gap: 0px;
    padding: 0 20px;
}

.help-box {
    padding: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 75%;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    /* Initially hidden */
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

ol {
    margin-left: 0;
    padding-left: 20px;
    box-sizing: border-box;
}

/* Add overlay styling */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: none;
    /* Initially hidden */
    z-index: 10;
}

.help-box .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

.help-box .close-btn:hover {
    color: rgb(54, 54, 54);
}

.help-btn {
    background-color: transparent;
    color: #3f5fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
}

.help-btn:hover {
    background-color: transparent;
}

a {
    color: #3f5fff;
}

a:visited {
    color: #3f5fff;
    /* Keep the same color as unvisited links */
    text-decoration: none;
    /* Optional: Keep the same underline style */
}