* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    min-height: 100vh;
    /* instead of height: 100vh */
    width: 100%;
}

main {
    width: 100%;
    /* ensure main takes full width */
    flex-grow: 1;
    /* allow it to grow */
    display: flex;
    /* make it a flex container */
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 3px;
    text-wrap: wrap;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 0px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
    /* Adjust this to increase the gap between the file input and button */
    row-gap: 8px;
    justify-content: center;
    /* Center the elements within the group */
}

/* Styling the file input */
input[type="file"] {
    display: none;
    /* Hide the default file input */
}

input[type="file"]+label {
    display: inline-block;
    background-color: #3f5fff;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.2;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="file"]+label:hover {
    background-color: #354fd3;
    transform: scale(1.02);
}


/* Styling for the button */
button {
    font-family: 'Montserrat', sans-serif;
    background-color: #222222;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    line-height: 1.2;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Button Hover and Focus States */
button:hover {
    background-color: #363636;
    transform: scale(1.02);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.5);
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    margin: 10px 0;
}

.custom-checkbox input {
    display: none;
    /* Hide the default checkbox */
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    background-color: white;
    position: relative;
    transition: all 0.3s ease;
}

.custom-checkbox input:checked+.checkmark {
    border-color: #3f5fff;
    background-color: #3f5fff;
}

.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 0px;
    width: 4px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.custom-checkbox input:checked+.checkmark::after {
    opacity: 1;
}



canvas#myPieChart {
    width: 100% !important; /* Make the pie chart take up the full width of its container */
    height: auto !important; /* Allow the height to adjust automatically */
    max-width: 100%; /* Ensure the pie chart does not exceed the container width */
    max-height: 100%; /* Ensure the pie chart does not exceed the container height */
}
/* Add some padding and center text */
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #555;
    margin-top: 20px;
    font-size: 1.5rem;
}


#data-box {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    height: 85%;
    gap: 20px;
    row-gap: 0px;
    padding: 0 20px;
}

.chart-container {
    flex: 0 0 45%;
    flex-grow: 0.8;
    /* allow chart container to grow */
    position: relative;
    margin: 0 auto;
    /* Center alignment options */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
}

#pie-chart-container {
    height: 48%;
    padding: 30px;
}

#hours-chart-container {
    height: 48%
}

#days-chart-container {
    height: 37%
}

#stats-container {
    height: 37%;
}

.stats-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.stats-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #333;
}

.stats-output {
    font-size: 16px;
    color: #555;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    min-height: 100px;
    box-sizing: border-box;
    text-align: left;
    white-space: pre-wrap;
    line-height: 1.3;
}

.help-box {
    padding: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 75%;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    /* Initially shown */
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

ol {
    margin-left: 0;
    padding-left: 20px;
    box-sizing: border-box;
}

/* Add overlay styling */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: block;
    /* Initially shown */
    z-index: 10;
}

.help-box .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

.help-box .close-btn:hover {
    color: rgb(54, 54, 54);
}

.help-btn {
    background-color: transparent;
    color: #3f5fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
}

.help-btn:hover {
    background-color: transparent;
}

a {
    color: #3f5fff;
}

a:visited {
    color: #3f5fff;
    /* Keep the same color as unvisited links */
    text-decoration: none;
    /* Optional: Keep the same underline style */
}

/* highlight reel styles */
.fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    z-index: 1000;
    overflow: hidden;
}

.screen {
    width: 100%;
    height: 100%;
    display: none;
    /* Hide screens initially */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

.screen.active {
    display: flex;
    /* Show active screen */
}

h2 {
    margin-bottom: 10px;
}

.nav-button {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3f5fff;
    color: white;
}

.nav-button:hover {
    background-color: #354fd3;
}

.nav-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.img-container {
    width: 60%;
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 8px;
    /* Ensures the image does not overflow the div */
}

.highlight-header {
    margin-top: 0px;
    margin-bottom: 0px;
}

#diningArchetypeTitle {
    font-weight: bold;
}

#diningArchetypeDescription {
    margin-top: 10px;
    width: 70%;
}

.custom-image {
    width: 100%;
    /* Makes the image take the full width of the container */
    height: 100%;
    /* Ensures the image fills the height of the container */
    object-fit: cover;
    /* Ensures the image maintains its aspect ratio and fills the div */
    display: block;
    /* Removes extra spacing below the image */
}

#prevButton {
    left: 20px;
}

#nextButton {
    right: 20px;
}

.screen-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: white;
    z-index: 1010;
    pointer-events: auto;
}

.screen-close-button:hover {
    background-color: #ff1a1a;
}

#shareForm {
    display: none;
}

.dropdown-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown {
    width: 100%;
    max-width: 320px; /* Increase max-width to ensure enough space for the arrow */
    padding: 10px 40px 10px 10px; /* Add right padding to make space for the arrow */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 width%3D%2210%22 height%3D%225%22 viewBox%3D%220 0 10 5%22%3E%3Cpath fill%3D%22%23333%22 d%3D%22M0 0l5 5 5-5z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 5px;
}

.dropdown:focus {
    border-color: #3f5fff;
    outline: none;
    box-shadow: 0 0 5px rgba(63, 95, 255, 0.5);
}

#recommendation-zone {
    display: none;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#recommendButton {
    margin-top: 14px;
}

.blue-button {
    background-color: #3f5fff;
}
.blue-button:hover {
    background-color: #354fd3;
}

#rec-input-title {
    margin-bottom: 0px;
}

#moreStats {
    margin-top: 20px;
}

#recMealImg {
    margin: 10px;
    width: 75%;
    overflow: hidden;
}

.plan-image {
    width: 100%;
    /* Makes the image take the full width of the container */
    height: 100%;
    /* Ensures the image fills the height of the container */
    object-fit: cover;
    /* Ensures the image maintains its aspect ratio and fills the div */
    display: block;
    /* Removes extra spacing below the image */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .chart-container {
        flex: 0 0 100%;
        max-height: 25%;
    }
    #stats-container {
        height: 20%;
    }

    #pie-chart-container {
        padding: 15px;
    }

    h1 {
        line-height: 1.15;
        margin-bottom: 18px;
    }

    #recMealImg {
        width: 90%;
    }

    .img-container {
        width: 90%;
        max-height: 60%;
        aspect-ratio: 3/2;
    }

    #diningArchetypeDescription {
        width: 100%;
    }

    .help-box {
        width: 82%;
    }

}
